<li class="list-group-item d-flex justify-content-between">
    {{dataValues.burger_name}}

    <div>
        <button class="change-devoured btn btn-danger" data-id="{{dataValues.id}}" data-devoured="{{dataValues.devoured}}">
            Eat!
        </button>
        <button class="delete btn btn-danger" data-id="{{this.dataValues.id}}">&#9746;</button>
    </div>
</li>